body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: white;
  text-decoration: none !important;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

/*--------------------------- home --------------- */

.home {
  background-color: #4582F4;
  height: 782px;
}

.background-load {
  background-color: #4582F4;
  height: 762px;
}

.background-quiz {
  background-color: #4582F4;
  height: 800px;
}

.background-leaderboard {
  background-color: #4582F4;
  height: 762px;
}

.info {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 40px;
  width: 70%;
  margin: auto;
  color: white;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.load-button {
  background-color: #1D2129;
  text-decoration: none;
  color: #fafafa;
  padding: 10px;
  border-radius: 5px;
}

/*--------------------------- animation --------------- */

.quiz-time {
  text-align: center;
  padding-top: 150px;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -20px;
}

.animation span {
  position: relative;
  top: 20px;
  display: inline-block;
  -webkit-animation: bounce 0.3s ease infinite alternate;
  font-size: 100px;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
  0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
  0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

.animation span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}

.animation span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}

.animation span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}

.animation span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}

.animation span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}

.animation span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}

.animation span:nth-child(8) {
  -webkit-animation-delay: 0.2s;
}

.animation span:nth-child(9) {
  -webkit-animation-delay: 0.3s;
}

.animation span:nth-child(10) {
  -webkit-animation-delay: 0.4s;
}

.animation span:nth-child(11) {
  -webkit-animation-delay: 0.5s;
}

.animation span:nth-child(12) {
  -webkit-animation-delay: 0.6s;
}

.animation span:nth-child(13) {
  -webkit-animation-delay: 0.7s;
}

.animation span:nth-child(14) {
  -webkit-animation-delay: 0.8s;
}

/* ANIMATION */

@-webkit-keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
    0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

/*--------------------------- footer --------------- */

footer {
  color: #fafafa;
  padding-top: 10px;
  background-color: #B2B5B9;
  display: inline-block;
  position: relative;
}

.footer-info {
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.list-inline-item {
  margin-left: 10px;
  margin-right: 10px;
}

.uppercase {
  text-transform: uppercase;
}

.social-links {
  text-align: center;
  color: #000000;
}

.copyright {
  text-align: center;
  color: #000000;
}

#icon {
  color: blue;
}

/*--------------------------- Quiz Loading --------------- */

.prompt {
  text-align: center;
  color: #fafafa;
  margin-bottom: 0;
  padding-top: 10px;
}

.start-button {
  background-color: #1D2129;
  text-decoration: none;
  color: #fafafa;
  padding: 10px;
  border-radius: 5px;
}

.option-select {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
}

::placeholder {
  color: white;
  padding-left: 15px;
  font-size: 20px;
}

.username {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  color: white;
  font-size: 20px;
  background-color: #000000;
  border: solid 1px;
  border-radius: 10px;
  border-color: white;
}

.box select {
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 12px;
  width: 40%;
  border: solid 1px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  display: block;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

/*--------------------------- timer --------------- */

.modal-header {
  margin-left: auto;
  margin-right: auto;
}

.countdown {
  margin: 0 auto;
  max-width: 350px;
  background: #ff0000;
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
}

.countdown .header {
  color: #c61d1d;
  text-align: center;
  font-weight: normal;
  margin: 5px 0 10px 0;
}

.countdown .square {
  display: inline-block;
  padding: 10px;
  margin: 5px;
}

.countdown .digits {
  font-size: 24px;
  background: #fff;
  color: #000;
  padding: 20px 10px;
  border-radius: 5px;
}

.countdown .text {
  margin-top: 10px;
  color: #ddd;
}

/*--------------------------- quiz page --------------- */

.finish {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.image-display {
  margin-bottom: 20px;
  height: auto;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  color: #000000;
}

.mute-button {
  margin-top: 20px;
  float: right;
}

.countdown-quiz {
  margin: 0 auto;
  max-width: 350px;
  background: #ff0000;
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
  clear: both;
}

.countdown-quiz .header {
  color: #c61d1d;
  text-align: center;
  font-weight: normal;
  margin: 5px 0 10px 0;
}

.countdown-quiz .square {
  display: inline-block;
  padding: 10px;
  margin: 5px;
}

.countdown-quiz .digits {
  font-size: 24px;
  background: #fff;
  color: #000;
  padding: 20px 10px;
  border-radius: 5px;
}

.countdown-quiz .text {
  margin-top: 10px;
  color: #ddd;
}

.carousel-item {
  height: auto;
}

#question-1,
#question-2,
#question-3,
#question-4,
#question-5,
#question-6,
#question-7,
#question-8,
#question-9,
#question-10,
#question-11,
#question-12,
#question-13,
#question-14,
#question-15,
#question-16,
#question-17,
#question-18,
#question-19,
#question-20 {
  padding-top: 20px;
  text-align: center;
  color: white;
}

#answers-1,
#answers-2,
#answers-3,
#answers-4,
#answers-5,
#answers-6,
#answers-7,
#answers-8,
#answers-9,
#answers-10,
#answers-11,
#answers-12,
#answers-13,
#answers-14,
#answers-15,
#answers-16,
#answers-17,
#answers-18,
#answers-19,
#answers-20 {
  padding-top: 20px;
  text-align: left;
  margin: auto;
  width: 350px;
  color: white;
  padding-left: 50px;
}

/*--------------------------- Leaderboard page --------------- */

.leaderboard-title {
  text-align: center;
  padding-top: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  padding-top: 150px;
  color: white;
}

.modal-title {
  text-align: center;
}

table {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

table,
th,
td {
  border: solid 1px black;
  background-color: white;
  text-align: center;
  width: 30%;
}

.modal-heading {
  text-align: center;
  margin-top: 8px;
  border-bottom: solid 1px;
}

.modal-form {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;

}

#scorePercentRound {
  text-align: center;
  margin-top: 8px;
}

#saveScoreBtn {
  background-color: #000000;
  color: white;
}

#footer-btns {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
